* {
  margin: 0;
  padding: 0;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  align-items: center;
  display: flex;
  position: fixed;
  z-index: 1;
  height: 80px;
  width: 100%;
  border-bottom: solid 2px gray;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  margin-right: 10px;
}

.nav {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.nav span {
  padding: 0 20px;
}

span {
  display: inline-block;
}

span a {
  color: black;
}

main {
  position: relative;
  display: flex;
  flex-direction: row;
  top: 80px;
  width: 80%;
  margin: 0 auto;
}

.col-1 {
  display: flex;
  flex-direction: column;
}

.col-2 {
  display: flex;
  flex-direction: column;
}

.col-3 {
  display: flex;
  flex-direction: column;
}
