* {
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

header {
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  align-items: center;
  display: flex;
  position: fixed;
  z-index: 1;
  height: 80px;
  width: 100%;
  border-bottom: solid 2px gray;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  margin-right: 10px;
}

.nav {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.nav span {
  padding: 0 20px;
}

span {
  display: inline-block;
}

span a {
  color: black;
}

main {
  position: relative;
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 100px 0 60px 0;
}

.col-1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 32px;
}

.col-2 {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.col-3 {
  display: flex;
  flex-direction: column;
  width: 20%;
}


footer {
  display: block;
  bottom: 0;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  background-color: MediumAquamarine;
  text-align: center;
  padding: 50px 0px;
}

small {
  display: block;
}

h1 {
  position: absolute;
  display: inline;
  width: 40%;
  padding: 100px 30px;
  color: white;
}

h2 {
  position: relative;
  display: inline;
  width: 20%;
  color: white;
  text-align: center;
}

p {
  padding: 20px 0;
}

.sub-col {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.sub-col img {
  width: 100%;
}

.story {
  display: flex;
  flex-direction: row;
align-items: 
}
